{% extends 'index.html' %}
{% load static %}
{% block  content %}

            <!-- cart-area -->
            <div class="cart-area pt-90 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7">
                            <div class="cart-wrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="product-thumbnail"></th>
                                                <th class="product-name">Header</th>
                                                <th class="product-price">Caption</th>
                                                <th class="product-quantity">Season</th>
                                                <th class="product-subtotal"></th>
                                                <th class="product-delete"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for banner in banners %}
                                                <tr>
                                                    <td class="product-thumbnail"><a href="shop-details.html"><img src="{% if banner.image %}{{banner.image.url}}{% endif %}" alt=""></a></td>
                                                    <td class="product-name">
                                                        <h4><a href="{% url 'editBanner' id=banner.id%}">{{banner.header}}</a></h4>
                                                    </td>
                                                    <td class="product-price">{{banner.caption}}</td>
                                                    <td class="product-quantity">{{banner.season}}</td>
                                                    <td class="product-delete"><a href="{% url 'deleteBanner' banner.id %}"><i class="far fa-trash-alt"></i></a></td>
                                                </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% comment %} <div class="shop-cart-bottom">
                                <div class="cart-coupon">
                                    <form action="#">
                                        <input type="text" placeholder="Enter Coupon Code...">
                                        <button class="btn">Apply Coupon</button>
                                    </form>
                                </div>
                                <div class="continue-shopping">
                                    <a href="shop.html" class="btn">update Cart</a>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        <div class="col-xl-5 col-lg-12">
                            <div class="shop-cart-total">
                                <h3 class="title">Add a Banner</h3>
                                <div class="shop-cart-widget product-input">
                                    <form action="{% url 'newBanner' id=id %}" enctype="multipart/form-data" method="POST">
                                        {% csrf_token %}
                                        <ul>
                                            <li class="cart-total-amount"><span>Header</span> {{form.header}}</li>
                                            <li class="cart-total-amount"><span>Caption</span> {{form.caption}}</li>
                                            <li class="cart-total-amount"><span>Season</span> {{form.season}}</li>
                                            <li class="cart-total-amount"><span>IsMain</span> {{form.isMain}}</li>
                                            <li class="cart-total-amount"><span>Button Align</span> {{form.buttonAlign}}</li>
                                            <li class="cart-total-amount"><span>Banner Image</span> {{form.image}}</li>
                                        </ul>
                                        <button type="submit" class="btn">Add</button>
                                    </form>
                                    {% for message in messages %}
                                        <p>{{message}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cart-area-end -->

{% endblock %}