{% extends 'index.html' %}
{% load static %}
{% load target_extras %}
{% block  content %}



<div class="container bg-light rounded">
        <div class="h4 font-weight-bold text-center py-3"> Catalog </div>
        <div class="row">
            {% for category in categories %}
                <div class="col-lg-4 col-md-6 my-lg-3 my-3 part-1">
                    <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div
                            class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center blue">
                            <img src="{% if category.image %}{{category.image.url}}{% endif %}" alt="">
                        </div>
                        <div class="d-flex flex-column">
                            <b>{{category.name}}</b>
                            <a href="{% url 'category' id=category.id%}">
                                {% with size=products.all|in_category:category %}
                                    <p class="text-muted"> {{size}} Products</p>
                                {% endwith %}
                            </a>
                        </div>
                    </div>
                        <ul>
                            <li><a type="button" class="update-product" data-form-url="" data-data-url=""><i class="fas fa-edit"></i></a></li>
                            <li><a href="{% url 'toggle_cat_visibility' cat_id=category.id route=request.get_full_path %}"><i class=" {% if category.availability %} fas fa-eye-slash {% else %} fas fa-eye {% endif %}"></i></a></li>
                        </ul>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}